.mui-numbox .mui-input-numbox,
.mui-numbox .mui-numbox-input,
.mui-numbox-cont {
	display: inline-block;
	overflow: hidden;
	width: 100%!important;
	height: 100%;
	margin: 0;
	padding: 0 3px!important;
	text-align: center;
	text-overflow: ellipsis;
	word-break: normal;
	border: none!important;
	border-right: solid 0px #ccc!important;
	border-left: solid 0px #ccc!important;
	border-radius: 0!important;
}

.mui-content-cot .mui-shopping-cart .mui-list .mui-numbox .mui-btn-numbox-minus,
.mui-content-cot .mui-shopping-cart .mui-list .mui-numbox .mui-numbox-btn-minus .mui-minus-gray {
	left: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-radius: 50px;
	background: #999999;
	color: #fff;
	width: 30%;
}

.mui-numbox .mui-btn-numbox-plus,
.mui-numbox .mui-numbox-btn-plus .mui-add-orange {
	right: 0;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.mui-content-cot .mui-shopping-cart .mui-list .mui-numbox .mui-btn-numbox-minus,
.mui-content-cot .mui-shopping-cart .mui-list .mui-numbox .mui-shopping-cart .mui-add-orange {
	left: 0;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-radius: 50px;
	background: #999999;
	color: #fff;
	width: 35px;
}

.mui-numbox [class*=btn-numbox],
.mui-numbox [class*=numbox-btn] {
	font-size: 18px;
	font-weight: 400;
	line-height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 40px;
	height: 100%;
	padding: 0;
	color: #fff;
	border: none;
	border-radius: 50%;
	background-color: #FF5000;
	width: 35px;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	position: absolute;
	top: 4px;
	right: 20px;
	display: inline-block;
	width: 28px;
	height: 100%;
	border: 0;
	outline: 0!important;
	background-color: transparent;
	-webkit-appearance: none;
	left: 10px;
}

.mui-btn-danger,
.mui-btn-negative,
.mui-btn-red {
	color: #fff;
	border: 1px solid #FF5000;
	background-color: #FF5000;
	width: 90%;
	margin: 20px auto;
}

.mui-input-row label {
	line-height: 1.1;
	float: left;
	padding-left: 50px
}


/*收藏*/

.mui-bar-tab .mui-tab-item.mui-active {
	color: #FF5000;
}

.mui-content-pro {
	background: #fff;
	border-top: 0px solid #ddd;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item {
	font-size: 0.9rem;
	border-bottom: 0px #ddd solid;
	border-right: 0px #ddd solid;
}

:hov .cls element.style {
	margin-top: 80px;
}

.mui-content>.mui-card:first-child {
	margin-top: 15px;
}

.mui-shopping-cart {
	width: 100%;
}

.mui-shopping-cart {
	margin: 0;
}

.mui-card {
	font-size: 14px;
	position: relative;
	overflow: hidden;
	border-radius: 2px;
	background-color: #fff;
	background-clip: padding-box;
	box-shadow: 0 0px 0px rgba(0, 0, 0, .3);
	*/
}